.container{
  min-height: 60vh;
  margin-bottom: 5em;
}

.load{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
<<<<<<< HEAD
}
=======
}
>>>>>>> daa4219c3088cb9f14a9c1584bc46f1873967869
